body{
  padding: 0px;
  margin: 0px;
}

#app {



  #mainHeader{


    #nav-section{
      display:flex;
      position: fixed;

      justify-content: space-between;
      h1{
        font-size: 28px;
      }

      a{

      }
    }
  }

  #mainComponents{
    padding: 0px;

    #homeSection{
      height: 100vh;
      text-align: center;
      padding-left: 30%;
      color:white;
      background-image: url("images/background.png");
      background-size: cover;
      padding-top:10%;
      background: linear-gradient(110deg, #85C1E9  60%, #3498DB 60%);

    }

    #projectsSection{
      height:100vh;
      text-align: center;
      vertical-align:middle;
      padding-top: 20vh;

      #ProjectCard{
        padding-bottom: 10px;
      }

      .container{
        height: 100%;
      }
      h1{
        padding-top:20px;
      }
      .card{

        img{
          height:180px;
        }
      }
    }

    #skillsSection{
      height:100vh;
      padding-top: 20vh;
      position: relative;
      #progressbars{

        label{
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }

    #contactSection{
      display:inline-flex;
      position: relative;
      justify-content: center;
      #contactLinks{

      }
    }

  }

}
