body {
  //Styling for the overall app ->
  display: block;
  background-color: gray;

//reset style for all links
a{
  color: white;
}

a:hover{
  text-decoration: none;
}
//The navigation section
  #mainHeader{
    box-shadow: 1px 5px 5px red;
    height:auto;
     #nav-section {
       justify-content:flex-end;
      ul {
        display:inline-block;
        list-style-type: none;
        margin: 0;
        padding:0;

        li{
          padding:5px;
          display:inline;
          font-size: 20px;
        }
      }
    }
  }

  #homeSection{
    
  }
}
