body{
  padding: 0px;
  margin: 0px;
}

#app {

  #mainHeader{


    #nav-section{
      display:flex;

      justify-content: space-between;
      h1{
        font-size: 28px;
      }

      a{

      }
    }
  }

  #mainComponents{
    padding: 0px;

    #homeSection{
      height: 100vh;
      text-align: center;
      padding-left: 30%;
      color:white;
      background: linear-gradient(110deg, #85C1E9  60%, #3498DB 60%);
      padding-top:10%;
    }

    #projectsSection{
      height: 100vh;
      padding-top: 20vh;
    }

  }

}
